{
  "extends": "skyscanner",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "backpack/use-components": "off",
    "backpack/use-tokens": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ]
  }
}
