@import '~bpk-mixins';

.Header {
  display: flex;
  padding: bpk-spacing-base();
  justify-content: space-between;
  align-items: center;
  background-color: $bpk-surface-default-day;

  @include bpk-box-shadow-sm;

  &__hidden-text {
    @include bpk-visually-hidden;
  }

  &__logo-image {
    height: bpk-spacing-lg();
    vertical-align: top;
  }
}
